---
---
{{reference}}


    {% if entry.abstract %}
    <button class="btn btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none;">Abstract</button>
    {% endif %}

	<button class="btn btnId btnPub--BibTex" id="b_{{key}}-bibtex" style="outline:none;">BibTeX</button>
    
    {% if entry.link %}
	<a href="{{link}}"><button class="btn btnId btnPub--download" style="outline:none; position:relative;white-space: normal;">PDF</button></a>
    {% endif %}
	

	<div class="dropDownBibtex" id="{{key}}-bibtex">
    <pre>{{entry.bibtex}}</pre>
    </div>
	
	<div class="dropDownAbstract" id="{{key}}-abstract">
    {{entry.abstract}}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var str =$(this).attr('id');
	
    $(".btnId").click(function(){
        var str = $(this).attr('id');
		var ret = str.split("_");
		var id = ret[1];
		$('#' + id).toggle();
    });
});
</script>